@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: rgb(5, 42, 70);
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.container-fluid {
    background-color: rgb(6, 47, 74);
}

.nav-item {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav-item:hover {
    transform: scale(1.2);
}

h1 {
    color: rgb(8, 11, 100);
    font-weight: 700;
    font-size:larger;
    padding: 5px;
    display: inline-block;
}

p {
    color: rgb(70, 66, 66);
    padding: 5px;
    font-weight: 500;
}

h2 {
    color: rgb(8, 11, 100);
    padding: 5px;
    font-size: larger;
}

h3 {
    text-align: left;
    color: rgb(08, 11, 100);
    padding: 5px;
    padding-top: 35px;
    font-weight: 600;
    font-size: medium;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 1.5em auto;
    padding: 5px;
}

@media screen and (min-width: 720px){
    .container{
        grid-template-columns: repeat(3, 1fr);
        background-color: #fff;
    }
    
}

.container > .imagenEdificio,
.container > .titulo,
.container > .bienvenidos,
.container > .div {
    background: #fff;
    padding: 30px;
    margin: 5px;
    border: 1px solid rgb(4, 53, 90);
}

.container .imagenEdificio {
    grid-column: 1/2;
    grid-row: 1/3;
}

.container .titulo {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container .bienvenidos {
    grid-column: 2/4;
    grid-row: 2/3;
}

.bienvenida {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    width: 95%;
}

.bienvenida > .titulo,
.bienvenida > .imagen,
.bienvenida > .texto,
.bienvenida > .div {
    border: 1px solid rgb(4, 53, 90);
}

.bienvenida .titulo {
    grid-column: 1/5;
    justify-items: center;
}

.bienvenida .imagen {
    grid-column: 1/2;
}

.bienvenida .texto {
    grid-column: 2/5;
}

.grillaSocios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px auto);
    gap: 1.5em;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 1.5em auto;
}

@media screen and (min-width: 720px){
    .grillaSocios{
        grid-template-columns: repeat(4, 1fr);
    }

.grillaSocios .titulo,
.grillaSocios .socios01,
.grillaSocios .socios02,
.grillaSocios .socios03,
.grillaSocios .socios04 {
    border: 1px solid rgb(4, 53, 90);
    padding: 15px;
    margin: 5px;    
}

.grillaSocios .titulo {
    grid-column: 1/5;
}

.grillaSocios .socios01,
.grillaSocios .socios02,
.grillaSocios .socios03,
.grillaSocios .socios04 {
    padding: 10px;
}

.grillaServicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px, auto);
    gap: 1.5em;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 1.5em;
    padding: 5px;
}

.grillaServicios .titulo {
    grid-column: 1/4;
    text-align: center;
}

.grillaServicios .segundoTitulo {
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parrafoSegundoTitulo {
    text-align: justify;
}

.grillaServicios .consultoria01 {
    grid-column: 1/4;
    text-align: center;
}

.grillaServicios .titulo,
.grillaServicios .segundoTitulo,
.grillaServicios .areas01,
.grillaServicios .consultoria01 {
    border: 1px solid rgb(2, 37, 63);
    padding: 15px;
    margin: 5px;
    text-align: justify;
}

.areasDePractica {
    text-align: center;
    background-color: rgb(129, 150, 143);
    color: #fff;
}
.tipoArea {
    text-align: center;
    background-color: rgba(129, 150, 143);
    color: #fff;
}

.consultoria01 {
    display: flex;
    flex-direction: row;
    font-size: small;
}

.nuestrasOficinas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5em;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    margin: 1.5em;
    padding: 5px;
}

.buenosAires {
    grid-column: 1/2;
    text-align: center;
    border: 1px solid rgb(2, 37, 63);
    border-radius: 5px;
    padding: 10x;
    justify-content: center;
}

.tituloBA {
    text-align: center;
}

.madrid {
    grid-column: 2/3;
    text-align: center;
    border: 1px solid rgb(2, 37, 63);
    border-radius: 5px;
    padding: 10x;
    justify-content: center;
}

.tituloMadrid { 
    text-align: center;
}

.miami {
    grid-column: 3/4;
    text-align: center;
    border: 1px solid rgb(2, 37, 63);
    border-radius: 5px;
    padding: 10x;
    justify-content: center;
}

.tituloMiami {
    text-align: center;
}

.tituloBA {
	-webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .tituloMadrid {
	-webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  .tituloMiami {
	-webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

#direccion {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

footer {
    background-color: rgb(6, 47, 74);
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos {
    font-size: 18px;
    padding: 0 8px;
    color: coral;
}